#section1 {
    /*height: 0;
    opacity: 0;*/
    max-width: 400px;
    transition: all 2s;
}

#section1.big {
    height: 1000px;
    opacity: 1;
}

input {
    border: 5px;
}

.no-validate{
    font-size: 18px;
    color: red;
    height: 100px;
}